* {
    margin: auto;
    max-width: 800px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: block;
}

h1{
    display: block;
    font-size: 2em;
    color: white;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

header {
    padding: 20px;
    background-color: #007bff;
    color: white;
    text-align: center;
    display: block;
    unicode-bidi: isolate;
}

header, main, footer {
    max-width: 800px;
    margin: 0 auto;
}



section {
    background: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    max-width: 700px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2{
    color: #007bff;
}

.skills ul {
    list-style-type: disc;
    margin-left: 20px;
}

form {
    margin-top: 10px;
}

form label {
    display: block;
    margin-top: 10px;
}

input[type="text"], select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

footer {
    background-color: #007bff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

footer p {
    color: white;
}


#outputMessage {
    margin-top: 10px;
    font-weight: bold;
}
